* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #11101d;
    padding: 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.menu-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.item a:hover,
.submenu-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

.item a,
.submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.submenu-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    background: #11101d;
}